<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>


    <style>
        .ustalan {
            position: relative;
            background-color: white;
        }

        .button1 {
            position: relative;
            background-color: white;
            display: inline;
            float: right;
            top: 15px;
            padding-bottom: 7px;
            padding-top: 7px;
            padding-left: 24px;
            padding-right: 24px;
            color: #00659d;
            font-size: 16px;
            border-color: #73abca;
            border-width: 1.5px;
        }

        .button2 {
            position: relative;
            background-color: white;
            display: inline;
            top: 30px;
            padding-bottom: 15px;
            padding-top: 15px;
            padding-left: 25px;
            padding-right: 25px;
            left: 19px;
            color: black;
            font-size: 20px;
            margin-top: 10px;
            margin-bottom: 8px;
            border-radius: 5px;
            border: 1px solid darkgrey;
            box-shadow: 1px 1px 10px #d9d9d9;
            text-align: left;
        }

        .button3 {
            position: relative;
            float: left;
            display: inline;
            top: -10px;
            padding-bottom: 10px;
            padding-top: 10px;
            padding-left: 8px;
            padding-right: 8px;
            color: #323232;
            background-color: #f0efed;
            border-radius: 30px;
            border: none;
            font-size: 25px;
            left: -100px;
        }

        .button4 {
            position: relative;
            float: left;
            top: -67px;
            padding-bottom: 10px;
            padding-top: 10px;
            padding-left: 8px;
            padding-right: 8px;
            color: #323232;
            background-color: #f0efed;
            border-radius: 30px;
            border: none;
            font-size: 25px;
            left: 96px;
        }

        .button5 {
            position: relative;
            float: left;
            top: -125px;
            padding-bottom: 10px;
            padding-top: 10px;
            padding-left: 8px;
            padding-right: 8px;
            color: #323232;
            background-color: #f0efed;
            border-radius: 30px;
            border: none;
            font-size: 25px;
            left: 293px;
        }

        .button6 {
            position: relative;
            float: left;
            top: -182px;
            padding-bottom: 10px;
            padding-top: 10px;
            padding-left: 8px;
            padding-right: 8px;
            color: #323232;
            background-color: #f0efed;
            border-radius: 30px;
            border: none;
            font-size: 25px;
            left: 485px;
        }

        .button7 {
            position: relative;
            float: left;
            top: -160px;
            padding-bottom: 10px;
            padding-top: 10px;
            padding-left: 8px;
            padding-right: 8px;
            color: #323232;
            background-color: #f0efed;
            border-radius: 30px;
            border: none;
            font-size: 25px;
            left: -100px;
        }

        .button8 {
            position: relative;
            float: left;
            top: -215px;
            padding-bottom: 10px;
            padding-top: 10px;
            padding-left: 8px;
            padding-right: 8px;
            color: #323232;
            background-color: #f0efed;
            border-radius: 30px;
            border: none;
            font-size: 25px;
            left: 154px;
        }

        .button9 {
            position: relative;
            float: left;
            top: -273px;
            padding-bottom: 10px;
            padding-top: 10px;
            padding-left: 8px;
            padding-right: 8px;
            color: #323232;
            background-color: #f0efed;
            border-radius: 30px;
            border: none;
            font-size: 25px;
            left: 410px;
        }

        .button10 {
            position: relative;
            float: left;
            top: -260px;
            padding-bottom: 10px;
            padding-top: 10px;
            padding-left: 8px;
            padding-right: 8px;
            color: #323232;
            background-color: #f0efed;
            border-radius: 30px;
            border: none;
            font-size: 25px;
            left: -100px;
        }

        .button11 {
            position: relative;
            float: left;
            top: -314px;
            padding-bottom: 10px;
            padding-top: 10px;
            padding-left: 8px;
            padding-right: 8px;
            color: #323232;
            background-color: #f0efed;
            border-radius: 30px;
            border: none;
            font-size: 25px;
            left: 160px;
        }

        .button12 {
            position: relative;
            float: left;
            top: -369px;
            padding-bottom: 10px;
            padding-top: 10px;
            padding-left: 8px;
            padding-right: 8px;
            color: #323232;
            background-color: #f0efed;
            border-radius: 30px;
            border: none;
            font-size: 25px;
            left: 360px;
        }

        .button13 {
            position: relative;
            float: left;
            top: -350px;
            padding-bottom: 10px;
            padding-top: 10px;
            padding-left: 8px;
            padding-right: 8px;
            color: #323232;
            background-color: #faf9f7;
            border-radius: 30px;
            border: none;
            font-size: 16px;
            text-align: left;
            left: -100px;
        }
        .button14 {
            position: relative;
            padding-bottom: 10px;
            padding-top: 10px;
            padding-left: 5px;
            padding-right:5px;
            color: #323232;
            background-color: #f1ece5;
            border-radius: 30px;
            border:1px solid black;
            font-size: 20px;
            text-align: center;
        }
        .button15 {
            position: relative;
            padding-bottom: 10px;
            padding-top: 10px;
            padding-left: 5px;
            padding-right: 5px;
            color: #323232;
            background-color: white;
            border-radius: 30px;
            border: 1px solid #656565;
            font-size: 20px;
            text-align: center;
        }
        .button16{
            position: relative;
            padding-bottom: 10px;
            padding-top: 10px;
            padding-left: 5px;
            padding-right: 5px;
            color: #323232;
            background-color: white;
            border: 1px solid #656565;
            font-size: 20px;
            text-align:left;
        }
        .button17 {
            position: relative;
            float: left;
            top: -3050px;
            padding-bottom: 13px;
            margin-top:5px;
            padding-top: 13px;
            padding-left: 10px;
            padding-right:10px;
            color: white;
            background-color: #2977c9;
            border-radius: 30px;
            border: none;
            font-size: 18px;
            left: -505px;
        }
    </style>
</head>
<body>

    <div class="container ustalan">
        <a href="#"><img style="position: relative;top:10px;height: 50px; width: 160px;" src="~/foto/logo.PNG" /></a>
        <h5 style="display: inline; position: relative; float: right;top:20px;right: 230px;color:grey">Hemen Katıl</h5>
        <button class="button1">Oturum Aç</button>
    </div>
    <div style="position: relative; background: #000; width: 100%;">
        <div style="overflow: visible; position: relative; background: white; float:left; width:150%; height: 800px; padding-right: 30px;left:19px;top:50px;">
            <h1 style="font-size:60px;color:#2977c9">Profesyonel <br /> topluluğunuza hoş <br /> geldiniz !</h1>
            <div style="width:50%;" class="row">
                <button style="width:50%;" class="button2">İş ilanı arayın<span style="position: relative;top:6px; color: grey; font-size: 25px;left:235px;" span class="glyphicon glyphicon-menu-right"></span></button>
            </div>
            <div style="width:50%;" class="row">
                <button style="width:50%;" class="button2">Tanıdığınız bir kişiyi bulun <span style="position: relative;top:6px; color: grey; font-size: 25px;left:120px;" span class="glyphicon glyphicon-menu-right"></span></button>
            </div>
            <div style="width:50%;" class="row">
                <button style="width:50%;" class="button2">Yeni bir yetenek öğrenin <span style="position: relative;top:6px; color: grey; font-size: 25px;left:130px;" span class="glyphicon glyphicon-menu-right"></span></button>
            </div>
        </div>
        <div style="position: relative; background: white; float: left;overflow: visible; width:30%; height: 300px;">
            <div style="overflow: visible; position: relative; background: white; float:left; width:20%; height:1000px; padding-right: 30px; margin-left:600px;top:-550px;">
                <img style="height:400px;" class="hero__illustration--mobile flip-rtl lazy-loaded" alt="Profesyonel topluluğunuza hoş geldiniz!" src="https://static-exp1.licdn.com/sc/h/3b678qey22i0i8cxykw5gjupc">

            </div>
        </div>
    </div>
    <div style="position: relative; background: #000; width: 100%;">
        <div style="overflow: visible; position: relative; background:#faf9f7; float:left; width:150%; height:800px; padding-right: 30px;left:19px;top:-500px;">
            <h1 style="font-size:50px;position: relative; top:80px; ">Açık iş ve staj<br />imkanlarını bulun</h1>
        </div>
        <div style="position: relative; background:#faf9f7; float: left;overflow: visible; width:30%; height:1000px;">
            <div style="overflow: visible; position: relative; background:#faf9f7; float:left; width:100%; height:800px; padding-right: 30px; margin-left:600px;top:-1200px;">
                <h5 style="position: relative;top:-20px;left:-90px;">ÖNERİLEN ARAMALAR</h5>
                <button style="width:60%;" class="button3">Mühendislik</button>
                <button style="width:60%;float:left;" class="button4">İş Geliştirme</button>
                <button style="width:60%;float:left;" class="button5">Finans</button>
                <button style="width:80%;float:left;" class="button6">Yönetici Asistanı</button>
                <button style="width:80%;" class="button7">Perakende Uzmanı</button>
                <button style="width:80%;" class="button8">Müşteri Hizmetleri</button>
                <button style="width:60%;" class="button9">Operasyon</button>
                <button style="width:80%;" class="button10">Bilgi Teknolojisi</button>
                <button style="width:60%;" class="button11">Pazarlama</button>
                <button style="width:80%;" class="button12">İnsan Kaynakları</button>
                <button style="width:80%;" class="button13">Daha fazla göster <i style="color: #323232;padding:10px;" class='fas fa-chevron-down'></i></button>
            </div>
        </div>
    </div>
    <div style="position: relative; background: #f1ece5; width:150%;height:300px;top:1000px;">
        <h1 style="position: relative; color: #c5745b;top:-700px;left:-250px;">İş ilanınızı yayınlayın <br />ve ihtiyacınız olan <br /> kişileri bulun</h1>
        <button style="width:10%;position: relative;top:-790px;left:185px;" class="button14">İş ilanı yayınla</button>

    </div>
    <div style="position: relative; background:white; width: 100%;">
        <div style="overflow: visible; position: relative; background:white; float:left; width:150%; height:800px; padding-right: 30px;left:-180px;top:-1500px;">
            <img style="width:50%;height:250px;" class="people-cta__illustration flip-rtl lazy-loaded" alt="Yardımcı olabilecek kişilerle bağlantı kurun" aria-hidden="true" src="https://static-exp1.licdn.com/sc/h/b1fxwht7hdbeusleja7ciftsj">
            <h1 style="position:relative;width:60%;left:260px;top:40px;font-size:50px;">Yardımcı olabilecek<br /> kişilerle bağlantı<br /> kurun</h1>
            <button style="width:15%;position: relative;top:60px;left:260px;" class="button15">Tanıdığınız kişileri bulun</button>
        </div>
        <div style="position: relative; background:white; float: left;overflow: visible; width:50%; height:1000px;left:30px;">
            <div style="overflow: visible; position: relative; background:white; float:left; width:100%; height:800px; padding-right: 30px; margin-left:600px;top:-2320px;">
                <img style="width:100%;height:270px;left:130px;" class="learning-cta__illustration flip-rtl lazy-loaded" alt="" src="https://static-exp1.licdn.com/sc/h/dkfub4sc7jgzg3o31flfr91rv">
                <h1 style="position:relative;width:100%;left:80px;top:40px;font-size:50px;">Hemen size yardımcı<br /> olabilecek <br /> yetenekleri öğrenin</h1>
                <button style="width:60%;position: relative;top:60px;left:80px;" class="button16">Konu seçin<i style="position:relative;left:180px;" class='fas fa-caret-down' style='font-size:24px'></i></button>
            </div>
        </div>
    </div>
    <div style="overflow:visible;position: relative; background:white; width: 150%;top:1700px;">
        <h1 style="position:relative;width:90%;color:#2977c9;left:-280px;top:-320px;font-size:58px;">LinkedIn‘deki, iş arkadaşlarınıza, okul<br /> arkadaşlarınıza ve dostlarınıza katılın.</h1>
        <button style="overflow:visible;width:6%;" class="button17">Başlayın</button>
        <img style="position:relative;width:130%;height:600px;top:-3990px;left:-190px;" src="~/foto/linkedinAlt.PNG" />

    </div>
    <div style="overflow:visible;position: relative; background:white; width: 150%;top:1700px;">
        <img style="position:relative;width:90%;height:200px;top:-3970px;left:-100px;" src="~/foto/linkedinEnalt.PNG" />
    </div>
    <div style="overflow:visible;position: relative; background:white; width: 150%;top:-2250px;">
        <div style="overflow: visible; position: relative; background: white; float:left; width:30%; height: 800px; padding-right: 30px;left:19px;top:50px;">

            <img style="position:relative;width:18%;height:27px;top:15px;" src="~/foto/logo.PNG" />

        </div>
        <div style="position: relative; background: white; float: left;overflow: visible; width:70%; height: 300px;left:-210px;">
            <div style="overflow: visible; position: relative; background: white; float:left; width:20%; height:500px;top:40px;left:-10px;">
                <h4 style="position:relative;top:22px;color:#191818;font-size:17px;">Genel</h4>
                <h4 style="position:relative;top:22px;color:grey;font-size:17px;">Kayıt Olun</h4>
                <h4 style="position:relative;top:22px;color:grey;font-size:17px;">Yardım Merkezi</h4>
                <h4 style="position:relative;top:22px;color:grey;font-size:17px;">Hakkında</h4>
                <h4 style="position:relative;top:22px;color:grey;font-size:17px;">Basın</h4>
                <h4 style="position:relative;top:22px;color:grey;font-size:17px;">Blog</h4>
                <h4 style="position:relative;top:22px;color:grey;font-size:17px;">Kariyer</h4>
                <h4 style="position:relative;top:22px;color:grey;font-size:17px;">Geliştiriciler</h4>


            </div>
            <div style="overflow: visible; position: relative; background: white; float:left; width:20%; height:500px;top:40px;left:-10px;">
                <h4 style="position:relative;top:22px;color:#191818;font-size:17px;">LinkedIn‘e Göz Atın</h4>
                <h4 style="position:relative;top:22px;color:grey;font-size:17px;">Learning</h4>
                <h4 style="position:relative;top:22px;color:grey;font-size:17px;">İş İlanları</h4>
                <h4 style="position:relative;top:22px;color:grey;font-size:17px;">Maaş</h4>
                <h4 style="position:relative;top:22px;color:grey;font-size:17px;">Mobil</h4>
                <h4 style="position:relative;top:22px;color:grey;font-size:17px;">ProFinder</h4>
            </div>
            <div style="overflow: visible; position: relative; background: white; float:left; width:20%; height:500px;top:40px;left:-10px;">
                <h4 style="position:relative;top:22px;color:#191818;font-size:17px;">İşletme Çözümleri</h4>
                <h4 style="position:relative;top:22px;color:grey;font-size:17px;">Yetenek</h4>
                <h4 style="position:relative;top:22px;color:grey;font-size:17px;">Satış</h4>
                <h4 style="position:relative;top:22px;color:grey;font-size:17px;">Pazarlama</h4>
                <h4 style="position:relative;top:22px;color:grey;font-size:17px;">Lerarning</h4>
            </div>
            <div style="overflow: visible; position: relative; background: white; float:left; width:20%; height:500px;top:40px;left:-10px;">
                <h4 style="position:relative;top:22px;color:#191818;font-size:17px;">Dizinler</h4>
                <h4 style="position:relative;top:22px;color:grey;font-size:17px;">Üyeler</h4>
                <h4 style="position:relative;top:22px;color:grey;font-size:17px;">İş İlanları</h4>
                <h4 style="position:relative;top:22px;color:grey;font-size:17px;">Maaşlar</h4>
                <h4 style="position:relative;top:22px;color:grey;font-size:17px;">Sergilenen</h4>
                <h4 style="position:relative;top:22px;color:grey;font-size:17px;">Lerarning</h4>
                <h4 style="position:relative;top:22px;color:grey;font-size:17px;">Gönderiler</h4>
                <h4 style="position:relative;top:22px;color:grey;font-size:17px;">Yazılar</h4>
                <h4 style="position:relative;top:22px;color:grey;font-size:17px;">Okullar</h4>
                <h4 style="position:relative;top:22px;color:grey;font-size:17px;">News</h4>
            </div>
        </div>
    </div>









</body>

</html>

